body {
  padding: 1em;
  padding-top: 0em;
  background-color: #fff;
}

.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;

  max-width: 800px;
  min-width: 200px;
  color: #333;

  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: none;
}

.toggle-button {
  margin-bottom: 20px;
}

.room-description {
  padding: 10px;
  background-color: #eee;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  margin-bottom: 20px;
}

.monster-description {
  margin-bottom: 20px;
}

.trap-description {
  padding: 10px;
  background-color: #eee;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  margin-bottom: 20px;
}

.npc-head-title {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.npc-head {
  font-weight: bold;
}

.npc-head-small {
  font-weight: bold;
}

.npc-head-weapons {
  font-size: 1.2em;
  text-decoration: underline;
}

.weapon-description {
  font-style: italic;
}

@media only screen and (min-width: 500px) {
  body {
    padding: 1em;
    padding-top: 0em;
    background-color: #292929;
  }

  .body-container {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;

    max-width: 800px;
    min-width: 200px;
    color: #333;

    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    line-height: 1.5em;
  }

  .letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    padding: 24px;
    position: relative;
  }

  .letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }

  .letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }
}