body {
  padding: 1em;
  padding-top: 0em;
}

.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: none;
}

.toggle-button {
  margin-bottom: 20px;
}

.room-description {
  padding: 10px;
  background-color: #eee;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  margin-bottom: 20px;
}

.monster-description {
  margin-bottom: 20px;
}

.trap-description {
  padding: 10px;
  background-color: #eee;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  margin-bottom: 20px;
}

.npc-head-title {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.npc-head {
  font-weight: bold;
}

.npc-head-small {
  font-weight: bold;
}

.npc-head-weapons {
  font-size: 1.2em;
  text-decoration: underline;
}

.weapon-description {
  font-style: italic;
}